<% provide(:title, "About") %>

<div class="about">
<h1>About Cutscene</h1>

<p>As a fan of video games, the idea of this website is based largely around the idea that video game reviews from trusted websites have come under scrutiny over the last number years. There have been a number of controversies regarding how the most popular review platforms (IGN, Gamespot) conduct their reviews in a seemingly arbitrary way (Kain, 2017), providing subjective reviews often not representative of a wider audience. In The Problem With Video Game Reviews, Muddle (2017), argues:
“There’s a problem with game reviews and it’s entirely the fault of the gaming media from an age before the internet where publishers would buy magazine ads, creating this stupid complex of “game journalists” hyping up games in order to either secure more ad revenue or because of agreements with advertisers.”
This had led to a rise in user submitted reviews, sites like Reddit have flourished with review mega threads1. This led to the seeds of an idea which would lead to a user submitted review website, with a rating system and links to review aggregate website metacritic.com.
In many review focused websites, the reviews come from places where the advertisers and developers must be kept happy, the reviewer generally has a short time to experience the game, and with many games being larger, community oriented experiences, some argue (Stuart, 2015) that reviews should evolve alongside the title. Therefore this application being created would provide broader reviews, with multiple sources for the viewer to judge the game, with some reviews being published months after the title has been released.
As this project evolves some features may be added or removed, but ultimately the above mentioned reasons are the aim of the application.</p>
</div>