<% provide(:title, "Home") %>
<div class="mainCont">

<%= video_tag("rdr2.mp4", :size => "640x480", :autoplay => true, :loop => false) %>





<p>Welcome to CUTSCENE reviews, the first crowd sourced video game review site. The title of this project is “Cutscene”, referring to the in-game, non- interactive, movie-like moments.
On the site, users can view video game reviews, be able to access external links to take them to the best deals on the the video games, rate the video games, see the metacritic score to get an overall view of reviews, and view trailers.
</p>

<a class="twitter-timeline"
  href="https://twitter.com/Cutscene2">
Tweets by @Cutscene2
</a>
  </div>  
    



