<p id="notice"><%= notice %></p>

<div id="itemsContainer">
    



    <% @games.each do |game| %>
      <div class="itemhols">
    
       
       <%= link_to (image_tag game.image, :class => "gameholsIm"), game %>
     
      
        
      </div>
    <% end %>
      
</div>

<br>

<%= link_to 'Write a new review?', new_game_path, :class =>"button", :role=>"button" %>

